In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df= pd.read_csv("/content/FuelConsumption.csv")
df

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2014,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1063,2014,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,11.5,25,264
1064,2014,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,11.8,24,271
1065,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,11.3,25,260
1066,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,12.8,22,294

In [5]:
dummies=pd.get_dummies(df['MODEL'])
dummies

,1500 (MDS),1500 4X4 (MDS),1500 4X4 DIESEL,1500 4X4 FFV,1500 DIESEL,1500 FFV,1500 HFE,200 CONVERTIBLE,200 CONVERTIBLE FFV,200 SEDAN,...,YUKON DENALI XL AWD,YUKON XL,YUKON XL 4WD,Z4 sDRIVE28i,Z4 sDRIVE35i,Z4 sDRIVE35is,iQ,tC,xB,xD
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1063,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1064,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1065,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1066,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
merged=pd.concat([df,dummies],axis='columns')
merged

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,...,YUKON DENALI XL AWD,YUKON XL,YUKON XL 4WD,Z4 sDRIVE28i,Z4 sDRIVE35i,Z4 sDRIVE35is,iQ,tC,xB,xD
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,...,0,0,0,0,0,0,0,0,0,0
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,...,0,0,0,0,0,0,0,0,0,0
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,...,0,0,0,0,0,0,0,0,0,0
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,...,0,0,0,0,0,0,0,0,0,0
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1062,2014,VOLVO,XC60 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,...,0,0,0,0,0,0,0,0,0,0
1063,2014,VOLVO,XC60 AWD,SUV - SMALL,3.2,6,AS6,X,13.2,9.5,...,0,0,0,0,0,0,0,0,0,0
1064,2014,VOLVO,XC70 AWD,SUV - SMALL,3.0,6,AS6,X,13.4,9.8,...,0,0,0,0,0,0,0,0,0,0
1065,2014,VOLVO,XC70 AWD,SUV - SMALL,3.2,6,AS6,X,12.9,9.3,...,0,0,0,0,0,0,0,0,0,0
1066,2014,VOLVO,XC90 AWD,SUV - STANDARD,3.2,6,AS6,X,14.9,10.2,...,0,0,0,0,0,0,0,0,0,0

In [8]:
final=merged.drop(['MODEL'],axis='columns')
y=final['CO2EMISSIONS']
y

0       196
1       221
2       136
3       255
4       244
       ...
1062    271
1063    264
1064    271
1065    260
1066    294
Name: CO2EMISSIONS, Length: 1067, dtype: int64

In [22]:
X= final[['ILX', 'ILX HYBRID' ]]
final.shape

(1067, 675)

In [12]:
final.columns

Index(['MODELYEAR', 'MAKE', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       ...
       'YUKON DENALI XL AWD', 'YUKON XL', 'YUKON XL 4WD', 'Z4 sDRIVE28i',
       'Z4 sDRIVE35i', 'Z4 sDRIVE35is', 'iQ', 'tC', 'xB', 'xD'],
      dtype='object', length=675)

In [13]:
X

      ILX  ILX HYBRID
0       1           0
1       1           0
2       0           1
3       0           0
4       0           0
...   ...         ...
1062    0           0
1063    0           0
1064    0           0
1065    0           0
1066    0           0

[1067 rows x 2 columns]

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.20,random_state=1)

In [16]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train, y_train)
reg.predict(X_test)

array([256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118, 256.34900118, 256.34900118,
       256.34900118, 256.34900118])

In [17]:
reg.coef_

array([-47.84900118,   0.        ])

In [18]:
reg.intercept_

256.3490011750881

In [19]:
reg.score(X_test,y_test)

-5.75117831291827e-06